body {
  background-color: #161b21;
  font-family: 'Baloo 2', cursive;
  color:white;
  box-sizing: border-box;
}
/* Remove outline on the forms and links */
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
